<a class="bottomshadow bg-white d-flx flex-dir-col j-c-sb height-100-pc" href="{{ post.url | prepend: site.url }}">
    <img class="blog-feature-image" src="{{ post.feature_image | prepend: site.url }}" alt="">
    <div class="d-flx wrapper flex-dir-col j-c-sb height-100-pc">
        <div class="">
            <div class="d-flx al-i-c j-c-sb">
                {% assign topic = site.topics | where: 'title', post.topic | first %}
                {% if topic %}
                    <p class="mb-0">
                        {{ topic.title }}
                    </p>
                {% endif %}
                <p class="microtext">
                    {{ post.date | date: "%b %-d, %Y" }}
                </p>
            </div>
            <div class="co-richblack microtext">
                <h2 class="largetext py-h  m-0 p-0">
                    {{ post.title }}
                </h2>
                {{ post.content | truncate: 70, '...' }}
            </div>
        </div>
        <div class="d-flx al-i-c">
            {% assign author = site.authors | where: 'title', post.author | first %} {% if author %}
            <img class="small-avatar radius-c" src="{{ author.image }}" alt="">
            <div class="suffix">
                <p class="mb-0">
                    {{ author.title }}
                </p>
            </div>
            {% endif %}
        </div>
    </div>
</a>