---
layout: default
---

<section class="width-100-pc pos-r">
    <div class="pos-r min-h-400 d-flx flex-dir-col j-c-c">
        <img src="{{ page.bg_image | prepend: site.url }}" class="absolute-zero bg-image" alt="">
        <div class="absolute-zero bg-big-gradient"></div>
    </div>
</section>
<section class="width-100-pc pos-r z-300 y-300">
    <div class="mx-auto maxwidth-sl py-3 wrapper-x d-flx flex-dir-col">
        <h1 class="co-white">{{ page.title }}</h1>
        <p class="co-whitesmoke py-h">{{ page.description }}</p>
        <div class="grid-container">
            {% for item in site.studio %}
                <a class="d-blk post" href="{{ item.url }}">
                    <div class="adjust-fit">
                        <img class="adjust-fit" src="{{ item.feature_image | prepend: site.url }}" alt="">
                    </div>
                </a>
            {% endfor %}
        </div>
    </div>
</section>

{% include lists/mobile-experience.html %}